---
import { SITE } from '@/config';
import HeaderLink from './HeaderLink.astro';
import Search from './Search.astro';

const { blogPage } = SITE;
---

<div class="flex-grow text-right md:mr-1 -mr-1">
  <Search />
  <HeaderLink href={blogPage} target="_blank">Blog</HeaderLink>
  <HeaderLink href="/rss.xml" target="_blank" class="lg:inline-block hidden">RSS</HeaderLink>
</div>
